---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap ml-xl-2 mr-xl-2">

  {% assign tags = "" | split: "" %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    <div>
      <a class="tag" href="{{ site.baseurl }}/tags/{{ t | slugify | url_encode }}/">{{ t }}<span class="text-muted">{{ site.tags[t].size }}</span></a>
    </div>
  {% endfor %}

  <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fjayj-fe.github.io&count_bg=%23A1A29F&title_bg=%23000000&icon=tapas.svg&icon_color=%23F1F967&title=hits&edge_flat=false"/></a>

</div>
